body {
    font-family: "Arial";
    background-color: #E0E0E0;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

#logobar {
    border: 1px solid;
    background-color: #ffffff;
    width: 100%;
}

table {
    margin-top: 5px;
    /* width: 100%; */
    border: 1px solid;
    background-color: #ffffff;
}

.tableWidthChange {
    width: 100%;
}
